{% load staticfiles %}
{% comment %} Importanto os arquivos staticos {% endcomment %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width">
 <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'styles/main.css'%}">
    {% comment %} O Django resolve facilmente este problema atraves da pasta static. 
    Tudo que estiver dentro dela sera acessivel pelo navegador do usuario diretamente {% endcomment %}
    {% comment %} utilizamos a tag {% static "nome_do_arquivo" %} 
    para carregarmos os arquivos que estao dentro de {% endcomment %}
 </head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li><a href="{% url 'index'%}">Nome</a></li>
                <li><a href="/logout/">Logout</a></li>
            </ul>
            <h3 class="text-muted"> ConnectedIn</h3>
        </div>
    
        <div class="row content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
 </body>
 </html>