{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link href="{% static "styles/bootstrap.css" %}" rel="stylesheet">
		<link href="{% static "styles/main.css" %}" rel="stylesheet">
		<title>ConnectedIn</title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					 <ul class="nav nav-pills pull-right">
						<li><a href="{% url 'index' %}">{{user.perfil.nome}}</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					</ul>
				</ul>
				<h3 class="text-muted">ConnectedIn</h3>
			</div>
			<div class="row content">
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>